@{
    Layout = "_Layout";
}

@{
    ViewData["Title"] = "Dashboard";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewData["Title"]</title>
    <style>
        body {
            background-image: url('https://g.foolcdn.com/editorial/images/787474/vaccine-with-world-map.jpg');
            background-size: cover;
            background-position: center;
            color: white;
        }

        .navbar {
            background-color: rgba(0, 0, 0, 0.8);
        }

        .jumbotron {
            background-color: rgba(0, 0, 0, 0.6);
            padding: 2rem;
            border-radius: 10px;
        }

        .btn-primary, .btn-secondary {
            margin-top: 20px;
        }
    </style>
</head>
<body>

<div>
    <
</div>

    <div class="container">
        <div class="jumbotron text-center mt-5">
            <h1 class="display-4">Welcome to Online Vaccine Management System</h1>
            <p class="lead">Get The Vaccine To Save Lives </p>
            <hr class="my-4">
            <p>Don't Hesistate Let's Vaccinate'</p>
        </div>
    </div>

</body>
</html>